@import "./component/core";
@import "./component/variable";
@import "./component/dialog";
@import "./component/datepicker";
@import "manage";
$progressIcon:url(../image/progressicon.png);
.singleBtn{
	height:35px;
	text-align:center;
	line-height:35px;
	font-size:14px;
	cursor:pointer;
}
.mainArea{
	.normal{
		> .singleBtn{
			position:absolute;
			top:40px;
			right:20px;
			display:block;
			width:80px;
			background-color:$qjdGreen;
			font-size:14px;
			color:white;
		}
		> .singleBtn:before{
			position:absolute;
			top:0;
			right:90px;
			width:140px;
			direction:rtl;
			content:"更多订单需求，请点击";
			color:$bdGrey;
			cursor:text;
		}
		.filter{
			margin-top:20px;
		}
		table{
			margin-top:20px;
		}
	}
	.progress{
		.bar{
			position:relative;
			float:left;
			width:100%;
			height:140px;
			i{
				position:absolute;
				top:55px;
				width:17px;
				height:17px;
				background-image:$progressIcon;
			}
			i:nth-of-type(1){
				left:158px;
			}
			i:nth-of-type(2){
				left:383px;
			}
			i:nth-of-type(3){
				left:608px;
			}
			p{
				position:absolute;
				top:62px;
				left:164px;
				width:0;
				height:2px;
				border-right-style:solid;
				border-right-color:$menuBd;
				border-left-style:solid;
				border-left-color:$qjdGreen;
			}
			ul{
				position:absolute;
				top:84px;
				left:107px;
				width:565px;
				li{
					float:left;
					width:20%;
					text-align:center;
					span{
						display:inline-block;
						width:100%;
						font-size:12px; 
						line-height:1.5;
					}
				}
			}
		}
		.bar:before, .bar:after{
			position:absolute;
			top:28px;
			display:block;
			width:30px;
			height:30px;
			background-image:$progressIcon;
			background-repeat:no-repeat;
			content:"";
		}
		.bar:before{
			left:262px;
			background-position:0 0;
		}
		.bar:after{
			right:262px;
			background-position:-42px 0;
		}
		.step1{
			p{
				border-right-width:339px;
				border-left-width:113px;
			}
			i:nth-of-type(1){
				background-position:0 -32px;
			}
			i:nth-of-type(n+2){
				background-position:-51px -32px;
			}
			li:nth-of-type(1), li:nth-of-type(2){
				span{
					color:$qjdGreen;
				}
			}
		}
		.step2{
			i:nth-of-type(1){
				background-position:0 -32px;
			}
			i:nth-of-type(3){
				background-position:-51px -32px;
			}
			li:nth-of-type(1), li:nth-of-type(2){
				span{
					color:$qjdGreen;
				}
			}
		}
		.step2.success{
			p{
				border-right-width:113px;
				border-left-width:339px;
			}
			i:nth-of-type(2){
				background-position:0 -32px;
			}
			li:nth-of-type(3), li:nth-of-type(4){
				span{
					color:$qjdGreen;
				}
			}
		}
		.step2.error{
			p{
				border-right-width:226px;
				border-left-width:226px;
			}
			i:nth-of-type(2){
				background-position:-26px -32px;
			}
			li:nth-of-type(3){
				span{
					color:red;
				}
			}
		}
		.step3{
			p{
				border-right-width:0;
				border-left-width:452px;
			}
			i:nth-of-type(1), i:nth-of-type(2){
				background-position:0 -32px;
			}
		}
		.step3.normal{
			i:nth-of-type(3){
				background-position:-51px -32px;
			}
		}
		.step3.success{
			i:nth-of-type(n+2){
				background-position:0 -32px;
			}
			li{
				span{
					color:$qjdGreen;
				}
			}
		}
		.step3.error{
			i:nth-of-type(3){
				background-position:-26px -33px;
			}
			li:not(:last-of-type){
				span{
					color:$qjdGreen;
				}
			}
			li:last-of-type{
				span{
					color:red;
				}
			}
		}
		> p{
			float:left;
			width:100%;
		}
	}
	form{
		position:relative;
		float:left;
		width:812px;
		padding:80px 210px 40px 152px;
		overflow:hidden;
		.row{
			position:relative;
			float:left;
			margin-bottom:20px;
			width:100%;
			em{
				position:absolute;
				right:14px;
				line-height:35px;
				font-size:16px;
			}
			.add{
				position:absolute;
				top:0;
				right:-50px;
				color:$qjdGreen;
				font-size:14px;
				line-height:35px;
			}
		}
		label{
			float:left;
			padding-right:20px;
			display:inline-block;
			width:110px;
			text-align:right;
			font-size:14px;
			line-height:35px;
		}
		.selectGroup{
			float:right;
			width:340px;
			display:flex;
			select{
				float:left;
				flex:1;
				width:60px;
				height:35px;
				border:1px solid $bdGrey;
				font-size:14px;
				line-height:35px;
			}
		}
		.ipt-txt{
			float:right;
			width:340px;
			height:35px;
			border:1px solid $bdGrey;
			font-size:14px;
			line-height:35px;
			text-indent:7px;
		}
		.ipt-txt.disabled{
			background-color:$menuBd;
			outline:none;
		}
		.btnUpload{
			float:left;
			width:100px;
			height:35px;
			border:1px solid $qjdGreen;
			text-align:center;
			border-radius:5px;
			font-size:14px;
			line-height:35px;
			color:$qjdGreen;
			cursor:pointer;
		}
		.singleBtn{
			float:right;
			display:block;
			width:340px;
			background-color:$qjdGreen;
			color:white;
		}
	}
}
.dialog{
	.content{
		float:left;
		width:100%;
		ul{
			float:left;
			margin-top:10px;
			width:100%;
			overflow:hidden;
			li{
				float:left;
				margin-top:5px;
				width:100%;
				text-align:center;
				a{
					font-size:14px;
					color:$blue;
				}
				i{
					display:inline-block;
					width:26px;
					height:26px;
					background-image:$dialogIcon;
					background-position:0 -241px;
					vertical-align:middle;
					cursor:pointer;
				}
			}
		}
		.singleBtn{
			float:left;
			position:relative;
			margin:20px 76px 0;
			width:80px;
			background-color:$qjdGreen;
			color:white;
			input{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				opacity:0;
				cursor:pointer;
				z-index:1;
			}
		}
		.singleBtn:after{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			font-size:12px;
			content:"上传证书";
		}
	}
}