@import "./component/core";
@import "./component/variable";
@import "./component/dialog";
@import "./component/datepicker";
@import "manage";
$icon80:url(../image/icon80.png);
$icon36:url(../image/icon36.png);
.singleBtn{
	width:80px;
	height:35px;
	text-align:center;
	color:white;
	line-height:35px;
	cursor:pointer;
}
.mainArea{
	.filter{
		margin-top:20px;
	}
	table{
		margin-top:20px;
	}
	.loan{
		.title{
			position:relative;
			float:left;
			width:100%;
			h2{
				float:left;
				margin-top:38px;
				width:100%;
				font-size:20px;
				line-height:36px;
			}
			p{
				text-align:left;
				font-size:12px;
				color:$darkGrey;
			}
		}
		.iconInfo{
			float:left;
			margin-top:40px;
			width:100%;
			display:flex;
			li{
				position:relative;
				flex:1;
				i{
					position:absolute;
					top:0;
					left:0;
					width:36px;
					height:36px;
					background-image:$icon36;
				}
				span{
					float:left;
					display:inline-block;
					width:100%;
					text-indent:40px;
					font-size:12px;
					line-height:18px;
				}
				span:last-of-type{
					color:$darkGrey;
				}
			}
			li:nth-of-type(1){
				i{
					background-position:0 -108px;
				}
			}
			li:nth-of-type(2){
				i{
					background-position:0 -144px;
				}
			}
			li:nth-of-type(3){
				i{
					background-position:0 -180px;
				}
			}
		}
		.bigFontInfo{
			float:left;
			width:100%;
			li{
				float:left;
				margin-top:40px;
				width:100%;
				p{
					line-height:28px;
					text-align:left;
					font-size:12px;
					span{
						font-size:14px;
					}
					strong{
						margin-left:14px;
						font-size:20px;
					}
				}
				p:last-of-type{
					color:$darkGrey;
				}
			}
			.overdue{
				p:first-of-type{
					color:$red;
				}
			}
		}
		h3{
			float:left;
			margin-top:40px;
			width:100%;
			font-size:20px;
		}
		.note{
			text-align:left;
			font-size:14px;
			line-height:28px;
			color:$darkGrey;
		}
	}
}