@import "./component/core";
@import "./component/variable";
@import "./component/dialog";
@import "./component/warning";
@import "manage";
$blankBg:url(../image/blank.png);
$noteBg:url(../image/notebg.png);
$icon34:url(../image/icon34.png);
.singleBtn{
	height:35px;
	background-color:$qjdGreen !important;
	text-align:center;
	color:white;
	line-height:35px;
	font-size:14px;
	cursor:pointer;
}
.mainArea{
	.normal{
		.singleBtn{
			position:absolute;
			top:40px;
			right:20px;
			width:80px;
			display:block;
			font-size:14px;
		}
		.singleBtn:before{
			position:absolute;
			top:0;
			right:90px;
			width:140px;
			direction:rtl;
			content:"更多项目需求，请点击";
			color:$bdGrey;
			cursor:text;
		}
		table{
			margin-top:20px;
		}
	}
	.blank{
		background-image:$blankBg;
		background-position:50% 160px;
		background-repeat:no-repeat;
		.singleBtn{
			margin:260px auto 0;
			display:block;
			width:340px;
			transform:translate(4px, 0);
		}
	}
	.success{
		.note{
			position:relative;
			margin:120px auto 0;
			padding:75px 0 0 120px;
			width:516px;
			height:257px;
			background-image:$noteBg;
			h2{
				float:left;
				width:100%;
				font-size:24px;
				line-height:34px;
			}
			p{
				float:left;
				width:100%;
				font-size:14px;
				line-height:2;
			}
			a{
				color:$qjdGreen;
				cursor:pointer;
			}
		}
		.note:before{
			position:absolute;
			top:75px;
			left:52px;
			display:block;
			width:34px;
			height:34px;
			background-image:$icon34;
			content:"";
		}
	}
	form{
		position:relative;
		float:left;
		width:812px;
		padding:80px 210px 40px 152px;
		overflow:hidden;
		.row{
			position:relative;
			float:left;
			margin-bottom:20px;
			width:100%;
			em{
				position:absolute;
				right:14px;
				line-height:35px;
				font-size:16px;
			}
			.add{
				position:absolute;
				top:0;
				right:-50px;
				color:$qjdGreen;
				font-size:14px;
				line-height:35px;
			}
		}
		label{
			float:left;
			padding-right:20px;
			display:inline-block;
			width:110px;
			text-align:right;
			font-size:14px;
			line-height:35px;
		}
		.selectGroup{
			float:right;
			width:340px;
			display:flex;
			select{
				float:left;
				flex:1;
				width:60px;
				height:35px;
				border:1px solid $bdGrey;
				font-size:14px;
				line-height:35px;
			}
		}
		.selectGroup.disabled{
			select{
				background-color:$menuBd;
				outline:none;
			}
		}
		.ipt-txt{
			float:right;
			width:340px;
			height:35px;
			border:1px solid $bdGrey;
			font-size:14px;
			line-height:35px;
			text-indent:7px;
		}
		.ipt-txt.single{
			margin-top:20px;
		}
		.ipt-txt.disabled{
			background-color:$menuBd;
			outline:none;
		}
		.row{
			input[type="file"], .btnUpload{
				width:100px;
				height:35px;
				font-size:14px;
				line-height:35px;
				cursor:pointer;
			}
			input[type="file"]{
				position:absolute;
				top:0;
				left:110px;
				opacity:0;
			}
			.btnUpload{
				float:left;
				border:1px solid $qjdGreen;
				text-align:center;
				color:$qjdGreen;
				border-radius:5px;
			}
			p{
				float:left;
				margin-left:10px;
				width:230px;
				height:35px;
				background-color:$menuBd;
				span{
					float:left;
					display:inline-block;
					width:200px;
					height:35px;
					overflow:hidden;
					text-indent:14px;
					white-space:nowrap;
					text-overflow:ellipsis;
					font-size:14px;
					line-height:35px;
				}
				i{
					float:right;
					margin-top:4.5px;
					width:26px;
					height:26px;
					background-position:0 -150px;
					background-image:$dialogIcon;
					cursor:pointer;
				}
			}
		}
		.singleBtn{
			float:right;
			margin-top:5px;
			width:340px;
		}
	}
}