$bgGrey:rgb(234, 234, 234);
$bdGrey:rgb(189, 189, 189);
$darkGrey:rgb(76, 76, 76);
$qjdGreen:rgb(51, 193, 186);
$menuBg:rgb(250, 250, 250);
$menuBd:rgb(229, 229, 229);
$red:rgb(230, 12, 12);
$orange:rgb(250, 108, 0);