@import "./variable";
$dialogIcon:url(../../image/dialogicon.png);
.warning{
	position:absolute;
	top:20px;
	left:0;
	width:100%;
	border:1px solid rgb(255, 180, 168);
	p{
		float:left;
		width:100%;
		background-color:rgb(254, 242, 242);
		text-align:center;
		line-height:40px;
		color:$bdGrey;
		font-size:14px;
	}
	.btnClose{
		position:absolute;
		top:7px;
		right:7px;
		width:26px;
		height:26px;
		background-image:$dialogIcon;
		background-position:0 -150px;
		cursor:pointer;
	}
}
.warning.block{
	display:block;
}
.warning.hidden{
	display:none;
}